SERVICE_NAME=apigateway
PORT=4000
NODE_ENV=development
LOG_LEVEL=info
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
USER_SERVICE_URL=http://localhost:4001
PAYMENT_SERVICE_URL=http://localhost:4002
SEARCH_SERVICE_URL=http://localhost:4003
NOTIFICATION_SERVICE_URL=http://localhost:4004
BOOKING_SERVICE_URL=http://localhost:4005